<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIUI_q0iZJOBennTkA_Cn4oQWSLalRmJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>534597684157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.dileepabandara.dileepabandaraDev</string>
	<key>PROJECT_ID</key>
	<string>myportfolio-amangupta</string>
	<key>STORAGE_BUCKET</key>
	<string>myportfolio-amangupta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534597684157:ios:e85ff61e099ff2c81aa0d4</string>
</dict>
</plist>